<section>
  Welcome to recipes, please add a recipe below
</section>

<form class="" action="index.html" method="post">
  <input type="text" placeholder="Recipe name">
  <button class="test" type="button" name="button">Submit</button>
  <br>
  <br>
  <input class="test"type="text" placeholder="Add ingredients">
</form>

<br>

<div class="">
  <input ng-model="text"type="Nick" placeholder="Nick its working">
  {{text}}
  <button type="button" name="button" ui-sref="addrecipe">click for add recipe page</button>
</div>






<!-- npm rebuild node-sass --force -->
