* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  // background-color: lime;
  background-image: url("./../img/cooking.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



.test{
  height: 100px;
  width: 100px;
}
